<body>
    <h1>Visitors!</h1>
    <table>
      <tr>
        <td>Total Visits:</td>
        <td><%= visitCount %></td>
      </tr>
      <tr>
        <td>Unique Visitors:</td>
      </tr>
      <% for (const visitor in uniqueVisitors) { %>
      <tr>
        <td><%= visitor %></td>
        <td><%= uniqueVisitors[visitor] %></td>
      </tr>
      <% } %>
    </table>
  </body>